*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/views/
/public/storage/framework/views/
/storage/framework/views/e68af09c837e7c5e42691f1ee2278a9b.php
/public/storage/framework/views/e68af09c837e7c5e42691f1ee2278a9b.php
