@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #9f7e69;
    --color-secondary: #d2bba0;
    --color-accent: #f2efc7;
    --color-light: #f7ffe0;
    --color-background: #ffeee2;
    
    --color-primary-50: #fdfbf9;
    --color-primary-100: #f8f3ee;
    --color-primary-200: #f0e6dd;
    --color-primary-300: #e2d2c2;
    --color-primary-400: #cbb9a2;
    --color-primary-500: #9f7e69;
    --color-primary-600: #8a6a55;
    --color-primary-700: #745744;
    --color-primary-800: #5f4535;
    --color-primary-900: #4d3629;
    
    --color-secondary-50: #fdfaf7;
    --color-secondary-100: #f9f4ee;
    --color-secondary-200: #f2e9dd;
    --color-secondary-300: #e7d9c2;
    --color-secondary-400: #d8c3a3;
    --color-secondary-500: #d2bba0;
    --color-secondary-600: #b99f85;
    --color-secondary-700: #9c846d;
    --color-secondary-800: #7f6a57;
    --color-secondary-900: #665445;
    
    --color-accent-50: #fdfdf9;
    --color-accent-100: #fbfbf3;
    --color-accent-200: #f8f7e6;
    --color-accent-300: #f0edce;
    --color-accent-400: #e7e3b0;
    --color-accent-500: #f2efc7;
    --color-accent-600: #cfcba9;
    --color-accent-700: #ada98d;
    --color-accent-800: #8b8872;
    --color-accent-900: #6e6c5a;
    
    --color-light-50: #fdfdfb;
    --color-light-100: #fcfcf8;
    --color-light-200: #fafaf4;
    --color-light-300: #f5f5e7;
    --color-light-400: #eeefd5;
    --color-light-500: #f7ffe0;
    --color-light-600: #d4d9bf;
    --color-light-700: #b1b49f;
    --color-light-800: #8f9080;
    --color-light-900: #727367;
    
    --color-background-50: #fffcfb;
    --color-background-100: #fff9f7;
    --color-background-200: #fff3f0;
    --color-background-300: #ffe4dc;
    --color-background-400: #ffd1c3;
    --color-background-500: #ffeee2;
    --color-background-600: #dbc9bf;
    --color-background-700: #b7a69d;
    --color-background-800: #94847e;
    --color-background-900: #786965;
}
